footer {
    background: var(--gray-1);
    width: Fixed (1, 728px)px;
    height: Fixed (102px)px;
    top: 3684px;
    padding: 50px 775px 50px 775px;
    gap: 10px;
    opacity: 0px;
    justify-content: center;

}